.profile-page{
    height: inherit;
}

.profile-picture {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 5px solid black;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 650px;
}

.scroll_2 {
  background-color: #E2E3E4;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
}

.scroll_3 {
  background-color: #E2E3E4;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 500px;
}

.scroll_4 {
  background-color: #E2E3E4;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 375px;
}

.clickable:hover{
  cursor:pointer;
}

.delete-icon {
  margin-top: 5%;
  margin-left: 15%;
}

.delete{
  width: 32px;
  border-radius: 50%;
}

.delete:hover {
  color: black;
  transform: scale(1.1)
}

.add-icon {
  margin-left: 5px;
}

.add {
  width: 32px;
  border-radius: 50%;
}

.add:hover {
  color: black;
  transform: scale(1.1)
}

@media (max-width: 1750px) {
  .delete-icon {
    margin-left: 5%;
  }

  .comp-list {
    text-align: center;
  }
}

.clickable:hover {
  cursor: pointer;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 125px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
