.item {
  height: inherit;
}

.search-btn {
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

  .search-btn:hover {
    background-color: #0069d9;
    color: white;
  }

.search-icon {
  margin-right: 0.5rem;
}

.load-page {
  height: 100vh;
}

.no-page {
  height: 80vh;
}

.fill {
  height: 50vh;
}

.clickable:hover {
  cursor: pointer;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 125px;
}
