<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="">
  <!-- Footer -->
  <footer class="text-center text-lg-start text-white"
          style="background-color: #212529">
    <!-- Grid container -->
    <div class=" p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              IT128L
            </h6>
            <p>
              This website has been made for the sole purpose of fulfilling the requirements for the
              Module 2 Final Project that uses RESTful Web Services CRUD APIs. 
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">TECHNOLOGY STACK</h6>
            <p>
              <a class="text-white" href="https://angular.io/guide/update-to-version-15" target="_blank">Angular 15</a>
            </p>
            <p>
              <a class="text-white" href="https://learn.microsoft.com/en-us/dotnet/core/whats-new/dotnet-6" target="_blank">.NET 6.0</a>
            </p>
            <p>
              <a class="text-white" href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank">Bootstrap 5</a>
            </p>
            <p>
              <a class="text-white" href="https://pokeapi.co/" target="_blank">PokeAPI v2</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              USEFUL LINKS
            </h6>
            <p>
              <a class="text-white" href="https://github.com/RyArDev/IT128L_Final-Project" target="_blank">GitHub Repository</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">GROUP 7 MEMBERS</h6>
            <p>John Rhyz B. Pulgar</p>
            <p>Patrick Miguel G. Purificacion</p>
            <p>Jeremey Joshua M. Yao</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2023 Copyright:
              <a class="text-white" href="#">pkm-builder.com</a>
            </div>
            <!-- Copyright -->
          </div>
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
